.topology{
  padding: 0 120px;
  .heading{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 30px;
    /* identical to box height */

    color: #0A9E62;


  }
  .image{
    width: 100%;
  }
}
