.form{
  .error-component{
    text-align: left;
    font-size: 11px;
    color:red;
    padding: 5px 16px;
  }
  .input-containers{
    display: flex;
    position: relative;
  }
  .base{
    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */

    color: #B9B8B8;
    padding: 16px 33px;
    width: 100%;
    margin: 10px 8px;
    &.mobile{
      padding-left: 105px;
    }
    @media (max-width: 991.98px) {
      border-radius: 9px;
      font-size: 8px;
      line-height: 12px;
      height: 35px;
      margin: 5px 4px;
      padding: 6px 14px;

    }
  }
  .submit{
    width: 100%;
    padding: 5px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */

    color: #FFFFFF;

    background: #0A9E62;
    box-shadow: 0px 4px 4px rgba(132, 222, 121, 0.15);
    border-radius: 10px;
    margin: 10px 8px;
    border: 0;
    @media (max-width: 991.98px) {
      font-size: 10px;
      line-height: 15px;
      height: 26px;
      border-radius: 4.5px;
      margin: 10px 4px;


    }
  }
  .submit:disabled{
    background: #48a481;
    cursor: not-allowed;
  }
  #country-codes{
    text-align: right;
    width: 87px;
    margin: 10px 8px;
    height: calc(100% - 20px);
    position: absolute;
    border-radius: 20px;
    background: white;
    left: 0;
    border: 1px solid #DADADA;
    box-shadow: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
    @media (max-width: 991.98px) {
      font-size: 10px;
      line-height: 15px;
      font-weight: 600;
      width: 67px;
      padding-right: 10px;

    }
    /* identical to box height */

    color: #292929;
  }
}
