.pmp-info{
  margin: 120px 120px 100px;
  .heading{
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    text-align: center;

    color: #0A9E62;
    margin-bottom: 20px;

  }
  .desc{
    display: flex;
    .image{
      flex-shrink: 0;
      margin-right: 77px;
    }
    .text{
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      color: #A9A9A9;


    }
  }
}
