.only-md-up{
  @media (max-width: 991.98px) {
    display: none;
  }
}
.only-md-down{
  display: none;
  @media (max-width: 991.98px) {
    display: initial;
  }
}
.pmp-info{
  margin: 120px 120px 100px;
  @media (max-width: 991.98px) {
      margin: 25px 23px 34px;
  }
  .heading{
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    text-align: center;

    color: #0A9E62;
    margin-bottom: 20px;
    @media (max-width: 991.98px) {
        display: none;
    }
  }
  .desc{
    @media (max-width: 991.98px) {
      align-items: center;
      justify-content: center;
        flex-wrap: wrap;
    }

    .heading-mob{
      display: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #0A9E62;
      @media (max-width: 991.98px) {
        display: initial;
        margin: 0 0 14px;

      }
    }

    .wrapper{
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: center;
      margin: 30px 10px;
      @media (max-width: 991.98px) {
        flex-wrap: wrap;
        margin: 30px 0;

      }
      .form-container{
        width: 440px;
        flex-shrink: 0;
        background: linear-gradient(245.16deg, #00395C 8.93%, #01121D 87.45%);
        box-shadow: 0px 4px 30px rgba(0, 35, 56, 0.15);
        border-radius: 30px;
        padding: 30px;
        margin-left: 77px;
        @media (max-width: 991.98px) {
          width: 100%;
          border-radius: 20px;
          padding: 16px 34px;
          margin: 30px 0 0;

        }
        .heading{
          display: flex;
          align-items: center;
          @media (max-width: 991.98px) {
            margin-bottom: 12px;
          }
          .image{
            margin: 15px 35px 15px 20px ;
            @media (max-width: 991.98px) {
              height: 49px;
              width: 48px;
              margin: 0 31px 0px 8px;
            }
          }
          .text{
            font-weight: 700;
            font-size: 30px;
            line-height: 45px;

            color: #FFFFFF;
            @media (max-width: 991.98px) {
              font-size: 16px;
              line-height: 24px;
            }

          }
        }
        .form-wrapper{

        }
      }
      .text{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: #A9A9A9;
        @media (max-width: 991.98px) {
          font-size: 10px;
          line-height: 14px;
          text-align: center;

        }

      }
      .image{
        flex-shrink: 0;
        margin-right: 77px;
        @media (max-width: 991.98px) {
          margin: 10px 0 40px;
          width: 150px;
        }
      }
    }
  }
}
