.faq{
  background: #F8F8F8;
  border-radius: 50px;
  margin: 98px 0;
  padding: 35px 111px;
  .heading{
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;

    color: #0A9E62;
  }
}
